body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    padding: 12px 200px;
    background-color: #1F2937;
}

a {
    text-decoration: none;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    gap: 16px;
}

.header .logo a {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header .link a {
    font-size: 18px;
    color: #E5E7EB;
}

.header .link {
    display: flex;
}

.main {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 100px 200px;
}

.main .hero-text {
    font-size: 18px;
    color: #E5E7EB;
}
.main .hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bolder;
    margin: 0px;
}

.main .hero-secondary {
    padding: 0px;
}

.main button {
    background:#3882F6;
    border:none;
    padding: 10px 40px;
    font-size: 18px;
    color:#F9FAF8;
    font-weight:bolder;
    border-radius:10px;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery .head {
    font-size: 36px;
    color:#1F2937;
    font-weight:bolder;
    text-align: center;
}

.gallery .imgs {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: center;
}

.gallery li img {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.gallery li p {
    width: 200px;
    text-align: center;
    font-size: 18px;
    color: gray;
    margin: 5px;
}



